/*
=================
Variables
=================
*/
:root {
  --clr-primary-1: #2e323f;
  --clr-primary-2: #3b4050;
  --clr-primary-3: #6f737f;
  --clr-primary-4: #ffffff;
  --clr-primary-5: #a59678;
  --spacing: 0.25rem;
}
*,
::after,
::before {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
.container {
  text-align: center;
}
header {
  background-color: var(--clr-primary-1);
}
nav ul li a {
  color: #ffffff;
  text-decoration: none;
  text-transform: capitalize;
}
nav ul li {
  margin: 20px 0;
}
nav {
  padding-bottom: 10px;
}
.logo-img {
  margin-top: 10px;
  margin-bottom: 10px;
}
.toggle-btn {
  position: absolute;
  top: 0;
  left: 20px;
  margin-top: 10px;
  font-size: 16px;
  background-color: transparent;
  padding: 2.5px 6px;
}
nav {
  display: none;
}
.nav-open {
  display: block;
}
