/*
=================
Variables
=================
*/
:root {
  --clr-primary-1: #2e323f;
  --clr-primary-2: #3b4050;
  --clr-primary-3: #6f737f;
  --clr-primary-4: #ffffff;
  --clr-primary-5: #a59678;
  --spacing: 0.25rem;
  --transition: all 0.3s linear;
}
*,
::after,
::before {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
/*
=======================
Header
======================
*/
.sub-header {
  width: 80vw;
  margin: 0 auto;
}
.container {
  text-align: center;
}
header {
  background-color: var(--clr-primary-1);
}
nav ul li a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
}
nav ul li {
  margin: 20px 0;
}
nav {
  padding-bottom: 10px;
}
.logo-img {
  margin-top: 10px;
  /* margin-bottom: 10px; */
}
.toggle-btn {
  position: absolute;
  top: 0;
  left: 40px;
  margin-top: 10px;
  font-size: 16px;
  background-color: transparent;
  padding: 2.5px 6px;
  border: 2px solid white;
  color: #ffffff;
  transition: var(--transition);
}
nav {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
  /* display: none; */
}
.nav-open {
  /* display: block; */
  height: 232px;
  overflow: hidden;
}
.sin-up-btn {
  border-radius: 100px;
  padding: 0.5rem 1.5rem;
  background-color: var(--clr-primary-5);
  border: none;
  font-size: 18px;
  font-weight: bold;
}
.toggle-btn:hover {
  transform: scale(0.9);
}
/*
==================
Hero-Section
==================
*/
.hero {
  background-color: var(--clr-primary-2);
  height: calc(100vh - 48.5px);
}
.gol-d {
  color: var(--clr-primary-5);
}
.hero-text h1 {
  color: #ffffff;
  font-size: 30px;
}
.hero-sub-text p {
  color: #ffffff;
  margin-top: 20px;
}
.hero-sub-text button {
  padding: 0.5rem 1.5rem;
  border-radius: 100px;
  background-color: var(--clr-primary-5);
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  margin: 20px 0;
  margin-top: 30px;
}
.sub-hero {
  position: absolute;
  width: 80vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.info {
  width: 80vw;
  text-align: center;
  margin: 0 auto;
}
.main-info {
  background-color: rgb(218, 217, 217);
  padding: 80px 0;
}
.mobile,
.efficient {
  margin-bottom: 40px;
}
.info h1 {
  margin-bottom: 10px;
  color: var(--clr-primary-5);
  text-transform: capitalize;
}
.main-img {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 80vw;
  margin: 20px 0;
}
.mainframe {
  max-width: 80vw;
  margin: 0 auto;
}
.sub-mainframe {
  margin: 40px 0;
  text-align: left;
}
.img-section h1 {
  color: var(--clr-primary-5);
  margin-bottom: 10px;
  text-transform: capitalize;
}
.img-text-section {
  margin: 40px 0;
  text-align: center;
  color: #ffffff;
}
.img-text-section h1::first-letter {
  text-transform: capitalize;
}
.break,
.work,
.ascend {
  background-color: var(--clr-primary-2);
  margin-bottom: 20px;
  padding: 20px 20px;
}
.img-text-section h1 {
  margin-bottom: 10px;
}
.last-section {
  background-color: var(--clr-primary-2);
  padding: 80px 0;
  margin-top: 80px;
}
.head h1 {
  margin-bottom: 20px;
  color: #ffffff;
  text-transform: capitalize;
}
.last h2 {
  color: var(--clr-primary-5);
  text-transform: capitalize;
}
.last p {
  color: rgb(245, 242, 242);
  margin: 10px;
}
.sub-head p span {
  margin-bottom: 10px;
}
.getting-around,
.other-things,
.and-more p {
  text-transform: capitalize;
  cursor: pointer;
}
.last {
  width: 80vw;
  margin: 0 auto;
}

@media (min-width: 700px) {
  .img-text-section {
    display: flex;
    gap: 20px;
  }
  .main-img {
    height: 50vh;
  }
  .last-special {
    display: flex;
    gap: 50px;
    justify-content: center;
    margin-top: 20px;
  }
  .toggle-btn {
    left: 80px;
  }
}
