/*
=================
Variables
=================
*/
:root {
  --clr-primary-1: #2e323f;
  --clr-primary-2: #3b4050;
  --clr-primary-3: #6f737f;
  --clr-primary-4: #ffffff;
  --clr-primary-5: #a59678;
  --spacing: 0.25rem;
}
*,
::after,
::before {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
