* {
  box-sizing: border-box;
  margin: 0;
  padding: 0%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.container {
  background-color: #23424a;
  color: #ffff;
  padding: 100px 0;
}
.text__container {
  width: 60%;
}
h1 {
  font-size: 35px;
  text-transform: uppercase;
  line-height: 50px;
  letter-spacing: 1px;
}
p {
  font-size: 21px;
  line-height: 30px;
  margin-top: 20px;
  letter-spacing: o.5px;
  margin-bottom: 10px;
}
button {
  font-size: 25px;
  padding: 6px 40px;
  border-radius: 100px;
  margin-top: 50px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  color: #23424a;
  background-color: #38cfd9;
  border: none;
}
.main__container {
  width: 80%;
  margin: 0 auto;
  max-width: 1100px;
}
.container__one {
  display: flex;
  width: 70%;
  margin: 0 auto;
  padding: 100px 0;
  text-align: center;
}

h2 {
  text-transform: capitalize;
  font-size: 30px;
}
.btn:hover {
  opacity: 0.7;
}
.row {
  padding: 8px;
}
.container__sub {
  display: flex;
  width: 70%;
  margin: 0 auto;
  text-align: center;
  padding: 50px;
  color: #ffff;
}
.container__two {
  background-color: #136c72;
}
