@font-face {
  font-family: "caviar_dreams";
  src: url("DAY-15 = FLEXBOX-CHALLENGE #4\assets\fonts\CaviarDreams-webfont.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
:root {
  --clr-primary: #f3eed9;
  --clr-secondary: #824936;
  --clr-tertiary: #222c2a;
}
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.hero {
  background-color: var(--clr-primary);
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center; /* //max-width: 1128px; */
}
.hero-center {
  width: 30%;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid;
}
.black {
  color: var(--clr-tertiary);
  letter-spacing: 0.5rem;
  margin-bottom: 20px;
}
.brown {
  color: var(--clr-secondary);
}
