/* 
////// For this challenge ///////

- All text is in the text.md file

// Requirements
   1. Get all the navigation items next to one another
   2. Add a space between all the items
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 3rem;
  margin-top: 0;
}

.section-title {
  color: #87629a;
}

.btn {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: #23424a;
  font-weight: 900;
  background-color: #38cfd9;
  padding: 0.75em 2em;
  border-radius: 100px;
}

.btn:hover,
.btn:focus {
  opacity: 0.75;
}

.container {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: space-between;
}

.col {
  /* these are now flex items */
  width: 100%;
}

.col + .col {
  margin-left: 30px;
}

header {
  background: #136c72;
  padding: 0.5em 0;
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav__link {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

.nav__link--button {
  background: #fff;
  color: #136c72;
  padding: 0.25em 1em;
  border-radius: 10em;
}

.nav__link:hover {
  opacity: 0.75;
}

.hero {
  padding: 100px 0;
  background-color: #23424a;
  color: #fff;
}

.hero__text {
  width: 62%;
}

.hero__img {
  width: 32%;
  align-self: flex-start;
}

.hero p {
  margin-bottom: 3em;
}

.main {
  margin-top: 3em;
}

.primary-content {
  width: 62%;
}
#burger {
  font-size: 1.9rem;
  background-color: transparent;
  color: #fff;
  display: none;
}
#ham-burger {
  display: none;
  border-radius: 50px;
  background-color: black;
}
.sidebar {
  width: 32%;
  padding: 1em;
  text-align: center;
  color: #fff;
  background-color: #136c72;
}
ul {
  display: flex;
  gap: 20px;
}
li {
}
nav {
  width: 100%;
  margin: 0 auto;
  max-width: 1100px;
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.container {
  display: flex;
  align-items: center;
}
.svg-logo {
  margin-right: 16px;
}
.nav---list {
  margin: 0 auto;
}
@media (max-width: 700px) {
  .hero__text {
    width: 100%;
    display: block;
  }
  .row {
    display: block;
  }
  .hero__img {
    width: 100%;
    margin-top: 80px;
  }
  .primary-content {
    width: 100%;
  }
  .sidebar {
    width: 100%;
    margin-top: 80px;
    margin-bottom: 80px;
  }
  #burger {
    display: block;
  }
  #ham-burger {
    display: block;
    position: absolute;
    top: 10px;
    cursor: pointer;
  }
  .container {
    display: block;
    text-align: center;
  }
  .nav {
    display: block;
    margin-top: 20px;
    display: none;
  }
  .nav__list {
    display: block;
  }
  .nav__item {
    margin-bottom: 30px;
  }
  .nav-close {
    display: none;
  }
  .nav-open {
    display: block;
  }
}
